# Evolution API
EVOLUTION_API_URL=https://evo.iacompany.co
EVOLUTION_API_KEY=sua_api_key_aqui

# CRM Webhook
CRM_WEBHOOK_URL=https://knnasxtrnaymjdaesdcz.supabase.co/functions/v1/whatsapp-webhook
CRM_API_KEY=

# Instância WhatsApp
WHATSAPP_INSTANCE_NAME=nome_da_instancia

# Servidor de Interceptação Local
LOCAL_SERVER_PORT=5000
